machine:
  kubelet:
    extraArgs:
      rotate-server-certificates: true
    nodeIP:
      validSubnets:
        - 10.3.3.0/24
  install:
    disk: ${install_disk}
    image: ${install_image}
    extraKernelArgs:
        - console=ttyS1
        - panic=10
  network:
    hostname: ${hostname}
    nameservers:
      - 1.1.1.1
      - 8.8.8.8
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
    ${node_label}
